[submodule "submodules/transformer_wrappers"]
	path = submodules/transformer_wrappers
	url = https://github.com/vincenzo-scotti/transformer_wrappers.git
[submodule "submodules/submodules/transformer_wrappers"]
	path = submodules/submodules/transformer_wrappers
	url = https://github.com/vincenzo-scotti/transformer_wrappers.git
